* {
	box-sizing: border-box;
}

html, body {
	padding: 0;
	margin: 0;
	background: #000;
	color: #fff;
	font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
	font-size: 16px;
	line-height: 1.5;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 18.5714px;
	height: 100vh;
}

#output {
	position: relative;
	height: calc(100vh - 50px);
	padding: 10px;
	overflow-y: scroll;
	overflow-x: hidden;
	white-space: pre-wrap;
	overflow-x: auto;
}

#input {
	height: 50px;
	width: 100vw;
	position: relative;
}

#input input {
	background: #2e2d2d;
	color: #fff;
	display: block;
	font-family: Consolas, monaco, monospace;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 18.5714px;
	padding: 10px 30px;
	border: 0;
	height: 100%;
	width: 100%;
}

#input::before {
	position: absolute;
	display: block;
	content: ">";
	color: #f1e9e9;
	left: 10px;
	top: 16px;
	z-index: 2;
}
