* {
	box-sizing: border-box;
}

html, body {
	padding: 0;
	margin: 0;
	background: #000;
	color: #fff;
	font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
	font-size: 16px;
	line-height: 1.5;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 18.5714px;
	height: 100vh;
}

#output {
	position: relative;
	height: calc(100vh - 50px);
	padding: 10px;
	overflow-y: scroll;
	overflow-x: hidden;
	white-space: pre-wrap;
	overflow-x: auto;
}

#output.rotate {
	transform: rotateX(180deg) !important;
}

#output .container {
	display: flex;
}

@media(max-width: 925px) {
	#output .container {
		flex-flow: row wrap;
	}
}

#output .box-text {
	width: auto;
	padding-right: 10%;
	order: 2;
}

@media(max-width: 925px) {
	#output .box-text {
		width: 100%;
		order: 1;
	}
}

#output .box-image {
	width: auto;
	padding-right: 10%;
	order: 1;
}

@media(max-width: 925px) {
	#output .box-image {
		width: 100%;
		order: 2;
	}
}

#output .ascii {
	font-size: 1rem;
}

@media(max-width: 980px) {
	#output .ascii {
		font-size: 0.7rem;
		line-height: 1.2;
	}
}

@media(max-width: 675px) {
	#output .ascii {
		font-size: 0.5rem;
		line-height: 1;
	}
}

@media(max-width: 475px) {
	#output .ascii {
		font-size: 0.3rem;
		line-height: 1;
	}
}

#output .ascii-small {
	font-size: 0.5rem;
	line-height: 1.2;
}

@media(max-width: 475px) {
	#output .ascii-small {
		font-size: 0.3rem;
		line-height: 1;
	}
}

#output h1 {
	line-height: 1.5;
}

#output li {
	padding: 0;
	margin: 0;
	list-style-type: none;
}

#output a {
	text-decoration: underline;
	color: #fff;
	font-weight: bold;
}

#output a:hover {
	color: yellow;
}

#output hr {
	border: 0;
	border-top: 2px dashed #fff;
}

#output table {
	border-collapse: collapse;
	border: 2px dashed #fff;
}

#output table tr {
	border: 1px dashed #fff;
}

#output table th {
	color: yellow;
	font-weight: bold;
	text-align: left;
	padding: 15px;
	border: 2px dashed #fff;
}

#output table td {
	min-width: 250px;
	border: 2px dashed #fff;
	padding: 15px;
}

#output table td.id {
	min-width: auto;
}

#output .highlight {
	color: yellow;
}

#output .error {
	color: red;
}

#output .success {
	color: cyan;
}

#input {
	height: 50px;
	width: 100vw;
	position: relative;
}

#input input {
	background: #1a1a1a;
	color: #fff;
	display: block;
	font-family: Consolas, monaco, monospace;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 18.5714px;
	padding: 10px 30px;
	border: 0;
	height: 100%;
	width: 100%;
}

#input input:focus {
	outline: none;
}

#input::before {
	position: absolute;
	display: block;
	content: ">";
	color: #fff;
	left: 10px;
	top: 16px;
	z-index: 2;
}